<div class="products__card">
  <img
    src="{{ product().images[0] }}"
    routerLink="/produto/{{ product().id }}"
  />
  <div>
    <h2 routerLink="/produto/{{ product().id }}">{{ product().title }}</h2>
    <p>{{ product().description }}</p>
  </div>
  <p class="price">{{ product().price }}</p>
  <div class="btn__container">
    <button class="btn__seeproduct" routerLink="/produto/{{ product().id }}">
      VER PRODUTO
    </button>
    <button class="btn__addtocart">ADICIONAR AO CARRINHO</button>
  </div>
</div>
