@if (loading()) {
<p>Carregando...</p>
}

<div class="page__container">
  <section class="top__container">
    <div>
      <img src="{{ displayImage() }}" class="display__image" />
      <div class="images__container">
        @for (item of currentProduct()?.images; track $index) {
        <img
          src="{{ item }}"
          class="thumbnail__image"
          width="30"
          height="120"
          (click)="handleImageClick(item)"
        />
        }
      </div>
    </div>
    <div class="info__container">
      <h2>{{ currentProduct()?.title }}</h2>
      <p>{{ currentProduct()?.description }}</p>
      <p>{{ currentProduct()?.price }}</p>
      <div class="quantity__container">
        <button
          class="btn__quantity btn__minus"
          (click)="handleQuantity('remove')"
        >
          -
        </button>
        <input type="number" [value]="quantity()" />
        <button class="btn__quantity btn__plus" (click)="handleQuantity('add')">
          +
        </button>
      </div>
      <button class="btn__addcart" (click)="addCart()">
        Adicionar ao carrinho
      </button>
    </div>
  </section>
</div>
